footer
    background #000
    border-top 3px solid $azulClaro
    width 100%
    padding 25px 0
    .center
        clearfix()
    img
        float left
        display block
        margin-right 110px
    nav
        float left
        opensans 12 bold
        color #fff
        float left
        margin-top 8px
        a
            margin-right 25px
            &:hover
                color $azulClaro
    .social
        float left
        margin-top 9px
        clearfix()
        a
            display block
            width 15px
            height 15px
            background-position center
            background-repeat no-repeat
            float left
            margin 0 2px
            &.facebook
                background-image $img('icone-facebook-rodape.png')
            &.instagram
                background-image $img('icone-twitter-rodape.png')
    .locais
        float right
        text-align left
        a
            display inline-block
            lato 12
            min-height 16px
            color #fff
            margin-top 8px
            padding-left 18px
            background $img('icone-map-rodape.png') no-repeat top left
            &:hover
                color $azul
            &:first-child
                margin-right 20px
    .copyright
        width 100%
        clear both
        text-align center
        opensans 9
        color #fff
        margin-top 30px
        float left
        p
            margin 0
    +below($tablet)
        nav
            display none
        .social
            float left
        img
            margin-right 40px
    +mobile()
        text-align center
        .social
            width 100%
            text-align center
            margin 20px 0
            a
                display inline-block
                float none
        .locais
            display none
        img
            float none
            display inline-block
            margin 0
        .copyright
            margin-top 0
