header
    background #000
    width 100%
    height 120px
    &.home
        position absolute
        top 0
        left 0
        z-index 102
    +mobile()
        height 100px
    .center
        clearfix()
        height 100%
    .logo
        width 367px
        height 100%
        display block
        float left
        background $img('logo-urbano.png') no-repeat center
        +mobile()
            width 240px
            background-size 100% auto
    nav#desktop
        float right
        height 100%
        +below($tablet)
            display none
        a
            lato 15 bold
            color #fff
            display block
            float left
            margin-left 35px
            line-height 120px
            &:first-child
                margin-left 0
            &:hover
            &.active
                color $azulClaro
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 30px
        outline 0
        padding 0
        .lines
            display block
            width 100%
            height 4px
            background #fff
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background #fff
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    nav#mobile
        +above($tablet)
            display none !important
        display none
        background $azul
        position absolute
        z-index 9999
        border-bottom 4px solid darken($azul, 5)
        width 100%
        padding 15px 0
        text-align center
        a
            lato 15 bold
            color #fff
            display block
            margin 7px 0
            &.active
                color #000
