desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

$azul      = #0094BA
$azulClaro = #88C3D1

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lato:400,700|Open+Sans:400,700')

fjalla($size)
    font-size $size + 0px
    font-family 'Fjalla One', 'Helvetica', 'Arial', sans-serif
    font-weight 400

lato($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Lato', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

opensans($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700
