.contato
    background #E6E6E4
    .center
        position relative
        height 100%
        min-height 561px
    img
        position absolute
        right 50%
        top 0
        +mobile()
            width 100%
            display block
            position relative
            right auto
    .box
        position absolute
        right 50%
        top 200px
        transform translateY(-50%)
        z-index 2
        background rgba($azul, .8)
        width 386px
        padding 20px
        opensans 18
        color #fff
        +tablet()
            width 50%
        +mobile()
            width 100%
            position relative
            right auto
            top auto
            transform translateY(0)
            opensans 15
            padding 15px
            text-align center
            background $azul
    .texto
        padding 30px 0 30px 30px
        margin-left 50%
        +mobile()
            padding 0
            margin 25px 0
        h2
            margin-top 30px
            color $azul
            lato 15 bold
            +mobile()
                margin-top 25px
            &.map
                padding-left 20px
                background $img('icone-map-rodape.png') no-repeat center left
            &:first-child
                margin-top 0
        p
            lato 15
            margin-top 0
            span
                lato 18
                color $azul
                display block
            a:hover
                text-decoration underline
