.banners
    position absolute
    width 100%
    height 100%
    min-height 560px
    top 0
    left 0
    +tablet()
        min-height 480px
    +mobile()
        min-height 400px
    .banner
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        background-size cover
        background-position center
        .texto
            display block
            position absolute
            text-align center
            top 50%
            left 0
            width 100%
            transform translateY(-30%)
            text-align center
            span
                background rgba(#000, .7)
                fjalla 36
                color #fff
                padding 20px 20px 18px
                line-height 1.2
                display inline-block
                +tablet()
                    font-size 30px
                +mobile()
                    font-size 24px
        a
            line-height 1
            position absolute
            display inline-block
            bottom 70px
            left 50%
            transform translateX(-50%)
            border 1px solid #fff
            background rgba(#000, .7)
            color #fff
            opensans 14
            padding 12px 24px
            transition color .3s, background .3s
            &:hover
                color #000
                background #fff
            +mobile()
                bottom 30px
    .cycle-pager
        position absolute
        bottom 25px
        z-index 102
        width 100%
        text-align center
        font-size 0
        +mobile()
            display none
        a
            display inline-block
            height 10px
            width 10px
            text-indent -9999px
            border 1px solid #fff
            border-radius 100%
            margin 0 3px
            transition background .3s
            &.cycle-pager-active
                background #fff
