.parceiro
    background #E6E6E4
    .center
        position relative
        height 100%
        min-height 667px
    img
        position absolute
        right 50%
        top 0
        +tablet()
            max-width 80%
        +mobile()
            width 100%
            display block
            position relative
            right auto
    .box
        position absolute
        right 50%
        top 200px
        transform translateY(-50%)
        z-index 2
        background rgba($azul, .8)
        width 386px
        padding 20px
        opensans 18
        color #fff
        +tablet()
            width 50%
        +mobile()
            width 100%
            position relative
            right auto
            top auto
            transform translateY(0)
            opensans 15
            padding 15px
            text-align center
            background $azul
    .texto
        padding 30px 0 30px 50px
        margin-left 50%
        +mobile()
            padding 0
            margin 25px 0
        p
            opensans 16
            &:first-child
                margin-top 0
        h2
            fjalla 24
            color $azul
            +mobile()
                font-size 20px
        form
            clearfix()
            input
            textarea
                width 100%
                display block
                resize none
                opensans 14
                padding 5px 8px
                border 0
                outline 0
                background #fff
                margin-bottom 3px
            textarea
                height 100px
            input[type='submit']
                width auto
                background $azul
                color #fff
                float left
                padding 5px 20px
                transition background .3s
                &:hover
                    background #000
            #form-contato-response
                lato 13 bold
                color $azul
                line-height 28px
                margin-left 10px
                float left
                +below($tablet)
                    clear left
                    margin-left 0
