.projetos
    .titulo
        background $azul
        padding 40px 0
        h1
            margin 0
            text-align center
            color #fff
            fjalla 30
        +tablet()
            padding 30px 0
            h1
                fjalla 25
        +mobile()
            padding 25px 0
            h1
                fjalla 20
    .projetos-thumbs
        padding 30px 0 10px
        +mobile()
            padding 20px 0 10px
        h2
            fjalla 24
            margin 0 0 1.2em
            padding-bottom .4em
            border-bottom 1px solid $azul
            text-align center
            +mobile()
                font-size 20px
                margin-bottom 1em
        &.desenvolvido
            background #E8E8E8
        .center div
            font-size 0
            text-align center
        a
            display inline-block
            vertical-align top
            position relative
            width 31.833%
            margin 0 .75% 1.5%
            min-height 100px
            +tablet()
                width 47%
                margin 0 1.5% 3%
            +mobile()
                width 100%
                margin 0 0 15px
            img
                display block
                position absolute
                top 0
                left 0
                border-radius 100%
            .texto
                width 100%
                padding-left 75px
                text-align left
                p
                    opensans 15
                    padding 5px 5px 5px 37px
                    margin 0
                    transition background .3s, color .3s
                    +mobile()
                        font-size 15px
                    &:first-child
                        background $azul
                        margin-top 20px
                        color #fff
                        font-weight 700
                    &:last-child
                        padding-bottom 10px
            &:hover .texto p:last-child
                background $azul
                color #fff
            +below($tablet)
                .texto p:last-child
                    background $azul
                    color #fff
    .mapa
        background #0094BA
        overflow hidden
        clearfix()
        .texto
            width 50%
            float left
            text-align right
            padding 40px 40px 0 0
            +tablet()
                width 30%
            +mobile()
                width 100%
                float none
                padding 20px 0
                text-align center
            span
                display inline-block
                max-width 300px
                opensans 24
                color #fff
                +tablet()
                    max-width 100%
                    opensans 18
                +mobile()
                    max-width 100%
                    opensans 16
        .map
            width 60%
            margin-left 50%
            height 450px
            +tablet()
                margin-left 30%
                width 80%
            +mobile()
                width 112%
                margin-left -6%
            #map
                display block
                width 100%
                height 100%
