.quem-somos
    .faixa
        min-height 300px
        background-size cover
        background-position center
        position relative
        overflow hidden
        &:after
            content ''
            position absolute
            top 0
            left 50%
            width 100%
            height 100%
            background rgba($azul, .6)
            +tablet()
                left 40%
        +mobile()
            background-image none !important
            background $azul
            &:after
                display none
        .center
            position relative
            z-index 2
        h1
            text-align right
            position absolute
            right 50%
            padding 45px 30px
            margin 0
            fjalla 32
            color #fff
            +tablet()
                right 60%
            +mobile()
                position relative
                text-align left
                right auto
                padding 25px 0
                fjalla 24
        .texto
            margin-left 50%
            padding 45px 30px
            +tablet()
                margin-left 40%
            p
                opensans 16
                color #fff
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
            +mobile()
                margin 0 0 5%
                padding 0
                p
                    opensans 15
    .quem-somos-contato
        background $img('img-quemsomos.png') no-repeat center #E6E6E4
        min-height 310px
        padding-top 100px
        clearfix()
        h3
            fjalla 24
            width 38%
            float left
            margin 0
        p
            opensans 16
            width 38%
            float right
            margin 0
        +tablet()
            h3
                width 30%
                fjalla 20
            p
                width 30%
        +mobile()
            min-height auto
            background-image none
            padding 25px 0
            h3
            p
                width 100%
            h3
                fjalla 20
            p
                opensans 15
                margin-top 10px
