.servicos-index
    .faixa
        width 100%
        background $azul
        padding 60px 0
        position relative
        &:after
            content ''
            position absolute
            width 100%
            height 110px
            bottom -110px
            left 0
            background $azul
        h1
            fjalla 30
            color #fff
            margin 0
            text-align center
        +tablet()
            padding 40px 0
            &:after
                height 70px
                bottom -70px
            h1
                fjalla 25
        +mobile()
            padding 25px 0
            &:after
                display none
            h1
                fjalla 20
    .thumbs
        font-size 0
        background #E6E6E4
        padding-bottom 30px
        .center
            display flex
            flex-wrap wrap
        a
            display inline-block
            vertical-align top
            width 30%
            margin-right 5%
            text-align center
            position relative
            z-index 1
            transition background .3s
            padding-bottom 5px
            &:nth-child(3n)
                margin-right 0
            img
                display block
                width 100%
            h3
                fjalla 22
                color $azul
                margin 1.3em 0
                text-transform uppercase
                padding 0 10px
            p
                opensans 14
                padding 0 15px
            h3
            p
                transition color .3s
            &:hover
                background $azul
                h3
                p
                    color #fff
        +mobile()
            padding 25px 0
            .center
                display block
            a
                display block
                width 100%
                margin-bottom 20px
                background $azul
                &:last-child
                    margin-bottom 0
                h3
                p
                    color #fff
                h3
                    margin 1em 0
                    fjalla 20

.servicos-show
    .titulo
        background $azul
        padding 40px 0
        h1
            margin 0
            text-align center
            text-transform uppercase
            color #fff
            fjalla 30
        +tablet()
            padding 30px 0
            h1
                fjalla 25
        +mobile()
            padding 25px 0
            h1
                fjalla 20
    .conteudo
        clearfix()
        background #E6E6E4
        .center
            position relative
            height 100%
            min-height 380px
            +mobile()
                min-height auto
        img
            position absolute
            right 50%
            top 0
            +tablet()
                right 60%
                max-width 50%
            +mobile()
                width 100%
                display block
                position relative
                right auto
        .texto
            padding 30px 0 30px 35px
            margin-left 50%
            +tablet()
                margin-left 40%
            +mobile()
                padding 0
                margin 25px 0
            p
                opensans 16
                &:first-child
                    margin-top 0
            h2
                opensans 17 bold
                color $azul
            ul
                padding 0
                opensans 16
                li
                    list-style-type none
                    padding-left 1em
                    margin .3em 0
                    position relative
                    &:before
                        content ''
                        position absolute
                        top .6em
                        left 0
                        width 3px
                        height 3px
                        background #000
                        border-radius 100%
    .outros
        background #587883
        padding 25px 0
        .center
            clearfix()
        p
            display inline-block
            vertical-align middle
            opensans 15
            color #fff
            margin 0
            margin-right 30px
        a
            display inline-block
            vertical-align middle
            margin-right 40px
            +below($tablet)
                display block
                margin-top 15px
            span
                display inline-block
                vertical-align top
                margin-top 30px
                transform translateY(-50%)
                margin-left 10px
                fjalla 22
                color #fff
                text-transform uppercase
                transition color .3s
                +tablet()
                    fjalla 20
                +mobile()
                    fjalla 18
            +mobile()
                clearfix()
                margin-right 0
                img
                    float left
                    margin-right 10px
                span
                    float left
                    width calc('100% - 120px')
            &:hover span
                color #000
